body{
    background-color: #FFD57F;
    
}
h1, h2, h3{
    color: indianred;
}
p{
    color: rgb(105, 44, 0);
}

img { 
    max-width: 25%;
    display: flex;
    justify-content: space-around;

}

nav ul{
    list-style-type: none;
    margin: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
  
}

nav a {
    color: rgb(122, 56, 8);
    padding: 0 20px;
    text-decoration:none;

}

h1,h2 {
    margin: 0;
    text-align: center;
}

section {
    display: flex;
    justify-content: space-evenly;
}
h2{
    padding: 20px;
}

h1{
    padding-top: 0;
}