body{
    background-color: #FFD57F;
    width: 100%;
    margin: 0em;
    font-family: 'avenir next LT pro', serif;
}
h1, h2, h3{
    color: rgb(190, 36, 36);
}
p{
    color: rgb(105, 44, 0);
}

img { 
    max-width: 100%;
    display: flex;
    justify-content: space-around;


}

nav ul{
    list-style-type: none;
    margin: 30px;
    padding-top: 2em;
    display: flex;
    justify-content: space-evenly;
  
}

nav a {
    color: rgb(122, 56, 8);
    padding: 0 20px;
    text-decoration:none;
    

}


h1,h2 {
    margin: 0;
    text-align: center;
}

section {
    display: flex;
    margin: 1em;

}

section article {
    display: flex;
    align-items: start;
    justify-content: left;
    flex-direction: column;
    margin: 1em;
}

h2{
    padding: 1em;
    padding-bottom: 1.5em;
}
main article {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    max-width: 33%;
    margin-left: 33%;
}






